.join-community-container {
  margin-right: 0px !important;
  margin-bottom: 100px !important;
  margin-left: 0px !important;
  border-top-width: 5px !important;
  border-right-width: 5px !important;
  border-bottom-width: 5px !important;
  border-left-width: 5px !important;
  padding-top: 65px !important;
  padding-bottom: 45px !important;
  border-left-color: rgba(245, 245, 245, 0.6) !important;
  border-left-style: solid !important;
  border-right-color: rgba(245, 245, 245, 0.6) !important;
  border-right-style: solid !important;
  border-top-color: rgba(245, 245, 245, 0.6) !important;
  border-top-style: solid !important;
  border-bottom-color: rgba(245, 245, 245, 0.6) !important;
  border-bottom-style: solid !important;
}
.join-community-container .title {
  font-size: 28px;
  font-weight: 700;
  color: #2b2b2b;
  font-family: Merriweather, serif;
  margin-bottom: 5px;
}
.join-community-container .sub-title {
  color: #666;
  margin-bottom: 43px;
}
.join-community-container .content-newsletter {
  max-width: 470px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
}
.join-community-container .content-newsletter .input-group input {
  background-color: rgb(245, 245, 245);
  color: inherit;
  font-size: inherit;
  border: none !important;
  box-shadow: none !important;
}
.join-community-container .content-newsletter .input-group .input-group-append {
  background-color: rgb(245, 245, 245);
}
.join-community-container .content-newsletter button {
  padding: 0 20px;
}