.product-detail .product-info .products-content {
  position: relative;
}
.product-detail .product-info .products-content h1.product-title {
  margin-top: 7px;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  color: #2b2b2b;
  font-family: Open-san;
}
.product-detail .product-info .products-content .rating {
  position: absolute;
  margin-bottom: 15px;
  right: 0;
  top: 0;
}
.product-detail .product-info .products-content .rating .star-rating {
  margin-left: auto;
}
.product-detail .product-info .products-content .rating .review-count {
  margin-top: 6px;
  text-align: right;
  color: #666;
  font-weight: 400;
}
.product-detail .product-info .products-content .price {
  font-family: Merriweather, serif;
  line-height: 100%;
  font-size: 25px;
  color: #f86d72;
  margin-bottom: 23px;
  font-weight: 500;
  display: block;
  text-align: left;
  padding-bottom: 28px;
  border-bottom: 1px solid hsla(0, 0%, 56%, 0.2);
}
.product-detail .product-info .products-content .price .currency-price .discount-price {
  color: #666;
  text-decoration: line-through;
  margin-right: 16px;
}
.product-detail .product-info .products-content .product-stock {
  text-transform: capitalize;
  color: #909090;
}
.product-detail .product-info .products-content .product-stock .stock-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgb(27 27 27 / 30%);
  display: inline-block;
  margin-right: 10px;
}
.product-detail .product-info .products-content .product-stock.in-stock .stock-icon {
  color: #f86d72;
}
.product-detail .product-info .products-content .description {
  margin-top: 20px;
}
/* button */
.product-detail .product-info .products-content .product-button {
  margin-top: 27px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid hsla(0, 0%, 56%, 0.2);
}
.product-detail .product-info .products-content .product-button button[class*='product'] {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.product-button i {
  font-family: ElegantIcons;
  font-style: normal;
  font-size: initial;
}
.product-detail .product-info .products-content .product-button button.btn-icon {
  padding-left: 16px;
  padding-right: 16px;
}
.product-detail .product-info .products-content .product-button button:not(:first-child) {
  margin-left: 20px;
}
/* metadata */
.product-detail .product-info .products-content .metadata .item-label {
  color: #2b2b2b;
  margin-right: 12px;
}
.product-detail a:not(:hover) {
  color: #909090;
}
.product-detail .product-info .products-content .metadata div:not(:last-child) {
  margin-bottom: 16px;
}
.product-detail .product-info .products-content .metadata .list-share a.social-icon {
  font-size: 12px;
}
.product-detail .product-info .products-content .metadata .list-share .social-icon:not(:last-child) {
  margin-right: 16px;
}
.product-detail .product-info .products-content .metadata .item-author:not(:last-child)::after,
.product-detail .product-info .products-content .metadata .item-tag:not(:last-child)::after,
.product-detail .product-info .products-content .metadata .item-category:not(:last-child)::after {
  content: ', ';
}
@media (max-width: 991px) {
  .product-detail .product-info .products-content {
    margin-top: 50px;
  }
}

.product-detail .tab-container {
  margin: 97px 0 10px;
}
.product-detail .tab-container .tab-header {
  margin-bottom: 55px;
  padding: 0;
  padding-bottom: 2px;
  position: relative;
}
.product-detail .tab-container .tab-header::before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(248, 109, 114, 0.25);
}
.product-detail .tab-container .tab-header div {
  cursor: pointer;
  color: #2b2b2b;
  font-size: 25px;
  font-weight: 400;
}
.product-detail .tab-container .tab-header div.active {
  color: #f86d72;
}
.product-detail .tab-container .tab-content {
  padding: 0;
}
.product-detail .content-reviews {
  margin-bottom: 95px;
}
.product-detail .error-message {
  color: #f86d72;
}
.product-detail .pagination-container {
  border: 0;
}
.product-detail .pagination-container .pagination .page-item a.page-link {
  font-size: 12px;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
}
.product-detail .review-title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  color: #2b2b2b;
}
.product-detail h2.review-title {
  margin-bottom: 60px;
}
.product-detail div.review-title {
  margin-bottom: 57px;
}
.product-detail .related-product {
  margin-top: 104px;
  /* margin-bottom: 100px; */
}
.product-detail .related-product .title-block {
  text-align: center;
  margin-bottom: 40px;
}
.product-detail .related-product .gird .products-content .product-title {
  font-weight: 400;
  font-size: 18;
}
